<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>api</display-name>
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
          classpath:ContextLoaderListener.xml
      </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
    <servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>org.gitmining.api.controller.ApiServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:api-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<!-- 查找api-servlet.xml -->
		<servlet-name>api</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	 
	<welcome-file-list>  
            <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>
    
    <error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>
